@charset "UTF-8"; 

body {
  background-color: gray;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: white;
}
 
header   {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: black;
  color: white;
}
 
main{
  padding: 40px;
  height : 400px;
}
 
footer   {
  padding: 40px;
  height: 40px;
  background-color : black;
  color: white;
}

a {
  color: royalblue;
}

a:visited {
  color: #df1aad;
}

a:hover {
  color: orange;
  text-decoration: underline;
  font-weight: bold;
}

a:active {
  color: #ff3300;
}

table tr:nth-of-type(even) {
  background-color: gray;
}
